@model IEnumerable<Pedido>

@{
    ViewBag.Title = "Historial de Pedidos";
}

<h1>Historial de Pedidos</h1>

<section>
    @if (!Model.Any())
    {
        <p>No tienes pedidos realizados.</p>
    }
    else
    {
        <ul>
            @foreach (var pedido in Model)
            {
                <li>
                    <h3>Pedido #@pedido.Id</h3>
                    <p>Fecha: @pedido.Fecha.ToString("g")</p>
                    <p>Estado: @pedido.Estado</p>
                    <p>Estado: @pedido.Detalles</p>
                    <p>Total: @pedido.PrecioTotal.ToString("C")</p>
                    <form asp-action="CancelarPedido" asp-controller="Pedidos" asp-route-pedidoId="@pedido.Id" method="post"
                        onsubmit="return confirm('¿Estás seguro de que deseas cancelar este pedido?');">
                        <button type="submit" class="btn-cancelar" @(pedido.PuedeCancelar ? "" : "disabled")>Cancelar</button>
                    </form>
                </li>
            }
        </ul>
    }
</section>
